.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }

  .padding-zero{
      padding: 0px;
  }
  .space{
      height: 5px;;
  }

  body{
      padding-left: 10px;;
  }
  .action-button, button{
      padding: 5px;
    background: #f1f1f1;
    border: none;
    color: black;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
  }
  .dropdown{
      padding:5px;
  }